* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0d1337;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 16px 40px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.navbar {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar_wrapper_lists {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar_wrapper_lists li a {
  font-size: 14px;
  color: #8e919a;
}
.navbar_wrapper_lists li a:hover {
  color: #fff;
}
.navbar_wrapper .btn_navbar {
  color: #0d1337;
}
.navbar_wrapper .btn_navbar:hover {
  background-color: rgba(255, 255, 255, 0.65);
}
.navbar_menuIcon {
  width: 50px;
  height: 50px;
  filter: invert(1);
  display: none;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 600px) {
  .navbar .navbar_wrapper {
    display: none;
  }
  .navbar .navbar_menuIcon {
    display: block;
  }
}

.header_tittle {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.header_desc {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
}
.header_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header_btn .btn_white {
  padding: 16px 80px;
  color: #0d1337;
}
.header_btn .btn_white:hover {
  background-color: rgba(255, 255, 255, 0.65);
}
.header_btn .btn_outline {
  padding: 16px 80px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.header_btn .btn_outline:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #0d1337;
}
@media screen and (max-width: 600px) {
  .header_tittle {
    font-size: 32px;
  }
  .header_btn .btn_white,
  .header_btn .btn_outline {
    padding: 16px 50px;
  }
}

.hero {
  margin: 140px auto;
}
.hero_header {
  display: flex;
  align-items: center;
}
.hero_header_left {
  width: 50%;
  margin-bottom: 40px;
}
.hero_header_left span {
  color: #ff6f29;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
}
.hero_header_left h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  line-height: 58px;
}
.hero_header p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 50%;
  font-size: 16px;
  line-height: 32px;
}
.hero_content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.hero_content_wrapper {
  display: flex;
  gap: 30px;
}
.hero_content .hero_card {
  padding: 32px;
  border: 1px solid #fff;
  border-radius: 15px;
  width: 100%;
}
.hero_content .hero_card .circle {
  width: 64px;
  height: 64px;
  background-color: #808080;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_content .hero_card .colorOne {
  background-color: #ff6f29;
}
.hero_content .hero_card .colorTwo {
  background-color: #00b4d8;
}
.hero_content .hero_card .colorTree {
  background-color: #7400b8;
}
.hero_content .hero_card .colorFour {
  background-color: #ff4d6d;
}
.hero_content .hero_card_tittle {
  color: #fff;
  margin: 32px 0 23px 0;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  letter-spacing: 0.5px;
}
.hero_content .hero_card_desc {
  color: #fff;
}
.hero_content .hero_card:hover {
  background-color: #fff;
  cursor: pointer;
}
.hero_content .hero_card:hover .hero_card_tittle,
.hero_content .hero_card:hover .hero_card_desc {
  color: #0d1337;
}

.about_wripper {
  display: flex;
  gap: 30px;
  margin-bottom: 140px;
}
.about_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.about_left span {
  color: #ff6f29;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
}
.about_tittle {
  color: #fff;
  text-transform: capitalize;
  font-size: 42px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 58px;
}
.about_desc {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 32px;
}
.about .btn_about {
  width: 30%;
  margin-top: 24px;
}
.about .btn_about:hover {
  background-color: rgba(255, 255, 255, 0.65);
}
.about img {
  width: 50%;
}

.promo_wripper {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  margin-bottom: 140px;
}
.promo_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 16px;
}
.promo_right .btn_promo {
  width: 30%;
  margin-top: 24px;
}
.promo_right .btn_promo:hover {
  background-color: rgba(255, 255, 255, 0.65);
}
.promo_right_tittle {
  color: #fff;
  font-size: 42px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  line-height: 58px;
  font-weight: bold;
}
.promo_right_desc {
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
}
.promo img {
  width: 50%;
}

.business {
  background-color: #fff;
  margin: 140px auto;
  padding: 64px 0;
}
.business h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  color: #0d1337;
  line-height: 58px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.business .container .business_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.business .container .business_wrapper_card {
  border: 2px solid #cacaca;
  padding: 32px 40px;
}
.business .container .business_wrapper_card h3 {
  font-size: 64px;
  font-weight: bold;
  color: #0d1337;
  padding-bottom: 32px;
  font-family: "Roboto", sans-serif;
}
.business .container .business_wrapper_card .tittle_card {
  position: relative;
  width: 85px;
  z-index: 2;
}
.business .container .business_wrapper_card .tittle_card .num_circle {
  width: 40px;
  height: 40px;
  background-color: #fdeaee;
  border-radius: 100%;
  position: absolute;
  bottom: 37px;
  right: 3px;
  z-index: -1;
}
.business .container .business_wrapper_card h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  color: #0d1337;
  text-transform: capitalize;
  padding-bottom: 16px;
  font-family: "Roboto", sans-serif;
}
.business .container .business_wrapper_card p {
  font-size: 16px;
  line-height: 32px;
  color: #0d1337;
  font-family: "Poppins", sans-serif;
  padding-bottom: 48px;
}
.business .container .business_wrapper_link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.business .container .business_wrapper_link a {
  color: #0d1337;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */